@import '../../../assets/scss/rem-calc';
@import '../../../assets/scss/sizes';
@import '../../../assets/scss/variables';

main{
  margin: 60px auto -1px !important;
@media (max-width: 768px) {
  
    padding: 24px 12px!important;
    margin-left: -229px!important;
  
    .card-complete-info{
        
    }
}
}
.main-header{
    max-width: rem-calc(960);
    height: rem-calc(30);
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(12);
    button{
        border: 1px solid lightgray;
        border-radius: rem-calc(5);
        color: var(--white);
        background-color: var(--success);
        transition: .5s;
        cursor: pointer;
        &:hover{
            background-color: #07669d;
            transition: .5s;
        }
    }
}

.main-content{
    min-height:  rem-calc(500);
    max-width: rem-calc(960);
    border: 1px solid var(--secondary-color);
    border-radius: rem-calc(5);
    .main-content-info{
        color: var(--white);
        background-color: var(--secondary-color);
        text-align: start;
       h2{
        padding: rem-calc(10) rem-calc(0) rem-calc(10) rem-calc(24);
       }
    }
    .main-content-list{
        padding:  rem-calc(15);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    @media (max-width: 600px) {
   max-width: rem-calc(336);
        
    }
}
