// Estilos específicos para a página Home

.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .card-content {
    font-size: 1rem;
    color: #777;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  